<div class="course-card">
    <div class="course-title">
        {{course.description}}
    </div>
    <img width="300" alt="Angular Logo" src="{{course.iconUrl}}" />
    <div>
        ID : {{cardId}}
    </div>
    <div>
        Category: {{course.category}}
    </div>
    <div class="course-description">
        course.longDescription
    </div>
    <div>
        Contains {{course.lessonsCount}} lessons.
    </div>
    <div>
        <input type="text" [ngModel]="inputText" (ngModelChange)="onTextChange($event)">
    </div>
    <button (click)="courseClicked()">View Course</button>
</div>