<div class="top-menu">

  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">
  <h1>Desc: {{description}}</h1>
  <course-card [title]="course3.description" (newTextChange)="onChildTextChange($event)"></course-card>
  <course-card (newTextChange)="onChildTextChange($event)"></course-card>
  <course-card (newTextChange)="onChildTextChange($event)"></course-card>
  <course-card (newTextChange)="onChildTextChange($event)"></course-card>
  <!-- <div class="demo">


      <button (click)="onEditCourse()" i18n>Edit Course</button>

  </div>

  <div class="courses">

    <course-card *ngFor="let course of  courses  "
                 (courseChanged)="save($event)"
                 type="beginner"
                 [course]="course">

      <course-image [src]="course.iconUrl"></course-image>

    </course-card>


  </div> -->


</div>